body { /*Left untouched good color choice */
	background-color:#C0C0C0;
}
#headingDiv {
	background-color: yellow;
	margin-left: auto;
	margin-right: auto;
}
#heading{/*added element h1 and styled*/
	font-size: 45px;
	text-align: center;
}
#facts {/* ul id=facts contents were styled*/
	font-size: 30px;
	margin-top: 15px;
	margin-left: 15px;
}
#facts li {
	margin-left: 300px;
}
#imgDiv {/* added a frame to your picture */
	background-color: yellow;
	height: 320px;
	width: 320px;
	border:2px solid gainsboro;
	margin-left: auto;
	margin-right: auto;
}
img{ /* setting the img in the frame */
	margin-top: 10px;
	margin-left: 10px;
}
#links {/*pushes links to the right*/
	margin-left: 780px;
}
#links li {/*Changed this list to horizontal*/
	display: inline-block;
	margin-left: 50px;
}
h2 {/*text centered*/
	font-family: sans-serif;
	text-align: center;
}
#goldA {
	display: block;
	margin-top: 375px;
	margin-left: 900px;
}
/* no styling for p or p styled inline */