body { /*Left untouched good color choice */
	background-color:#C0C0C0;
}
#heading{/*added element h1 and styled*/
	font-size: 45px;
}
#facts {/* ul id=facts contents were styled*/
	font-size: 30px;
	margin-top: 15px;
	margin-left: 15px;
}
#navbar li {/*Changed this list to horizontal*/
	display: inline-block;
	margin-left: 20px;
}
h2 {/*left untouched*/
	font-family: sans-serif;
}
p {/* completed as was found incomplete*/
	font-family: sans-serif;
}